<div class="header-wrapper row">
  <div class="col-xs-6">
    <app-main-navigation></app-main-navigation>
    <button md-button class="header-color">Логин</button>
    <button md-button class="header-color">Регистрация</button>
  </div>

  <div class="col-xs-5 col-md-4 pull-right wrap-right">
    <div class="pull-right cart-wrapper" class="header-color">
      <button md-button>Количка</button>
      <img class="icon" src="assets/icons/cart.png">
    </div>
  </div>
</div>

<div class="logo-container rowv">
Спа Трейд ООД
<div class="pull-right">
      <img class="logo" src="assets/logos/anesi.jpg">
</div>
</div>