<div style="margin:20% auto">
  <div class="centered-content">
    <div class="centered-text">Welcome, Admin!Please log in!</div>
    <input class="form-control input-admin centered-content" type="text" placeholder="Username">
    <input class="form-control input-admin centered-content" type="password" placeholder="Password">
    <div class="centered-text">
    <button class="btn btn-default inline-block">Log in</button>
      <div class="inline-block">Remember me</div>
      <checkbox
        ng-model="admin.checkboxModel"
      ></checkbox>
    </div>
  </div>
</div>


