.navbar-brand{
  font-family:Helvetica;
}
.hidden-phone{
display:none!important;
}

.padding-15px{
  padding:15px;
}

.margin-top-5px{
  margin-top:5px;
}
.breadcrumb > :first-child {
  margin-left:20px;
}
.breadcrumb > .active {
  font-weight: 500;
  color: black;
}

img{
border-radius:8px;
}

//region Admin

.btn-upload{
  width:200px;
}




//endregion



//region Carousel
.ident-options {
  padding: 0 30px
}
.carousel-image-main{
  width:80%;
  height:250px;
}
.carousel-indicators{
  bottom:0;
}
.carousel-control{
  background-image:none!important;
}

.carousel-image-main{
  width:80%;
  height:180px!important;
}

//endregion

//region Admin
.input-admin{
  width:70%;
}


//endregion

//region Dashboard
.background-product-catalog{
  background-color:rgb(237, 241, 244);
  border-radius: 12px;
  box-shadow:$box-shadow;
}
#MainMenu {
  box-shadow:$box-shadow;
  margin-left:10px;
  max-width:300px;
}
.product-heading-dashboard{
  height:3em;
  line-height: 1.5em;
  overflow: hidden;
}
.navbar-sidebar-menu > a {
  color: $grey-color!important;
}

//endregion


//region Products
.product-description-container{
  padding:41px;
}
.product-heading{
  font-size:22px;
  font-weight:500;
}
.buttons-products{
  margin-top:20px;
}
.price-content{
  font-size:16px;
}
.wrapper-product-display{
  padding:15px;
}
.product-heading-color{
  color:$blue-green-color;
}
.price-font-size{
  font-size:$price-size;
}

//endregion