.navbar-brand{
  font-family:Helvetica;
}
.hidden-phone{
display:none!important;
}

.navbar {
  background: #f0f9ff; /* Old browsers */
  background: -moz-linear-gradient(top, #f0f9ff 0%, #cbebff 64%, #a1dbff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f0f9ff 0%, #cbebff 64%, #a1dbff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f0f9ff 0%, #cbebff 64%, #a1dbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

//region Carousel
.ident-options {
  padding: 0 30px
}
.carousel-image-main{
  width:80%;
  height:250px;
}
.carousel-indicators{
  bottom:0;
}
.carousel-control{
  background-image:none!important;
}

.carousel-image-main{
  width:80%;
  height:180px!important;
}

//endregion

//region Admin
.input-admin{
  width:70%;
}


//endregion
