.navbar-brand{
  font-family:Helvetica;
}
.hidden-phone{
display:none!important;
}

//region Carousel
.ident-options {
  padding: 0 30px
}
.carousel-image-main{
  width:80%;
  height:250px;
}
.carousel-indicators{
  bottom:0;
}
.carousel-control{
  background-image:none!important;
}

.carousel-image-main{
  width:80%;
  height:180px!important;
}

//endregion

//region Admin
.input-admin{
  width:70%;
}


//endregion
