@import 'phone';


.hidden-tablet{
  display:none!important;
}
.hidden-phone{
  display:block!important;
}

//region Carousel
.carousel-image-main{
  width:80%;
  height:300px!important;
}
//endregion
