table.color-picker {
  border-spacing: 0;
}

table.color-picker td.swatch {
  height: 2em;
  width: 2em;
  box-sizing: border-box
}

table.color-picker td.swatch.selected {
  border: 2px solid white;
}

.custom-color-picker {
  width: 384px;
  height: 243px;

  position: relative;

  user-select: none;
}

.custom-color-picker canvas.hue-canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.custom-color-picker canvas.luminance-canvas {
  position: absolute;
  top: 39px; /* @slider-thickness + @nice-padding; */
  right: 0;
}

.custom-color-picker .large-preview {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 39px; /* @nice-padding + @slider-thickness; */
  top: 39px;
}
