// example usage

//      <div>
//        <label class="radio-button">
//          <input type="radio" name="r" checked="checked">
//          <div class="radio-button__checkmark"></div>
//          LABEL TEXT
//        </label>
//      </div>


.radio-button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  margin: 10px 0;
}
.radio-button__checkmark {
  margin-right: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  position: relative;
  overflow: hidden;
  width: 30px; //1.5625em;
  height: 30px; //1.5625em;
  background: transparent;
  pointer-events: none;
}

.radio-button > input[type="radio"] {
  position: absolute;
  overflow: hidden;
  right: 0px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  padding: 0;
  border: 0;
  opacity: 0.001;
  z-index: 1;
  vertical-align: top;
  outline: none;
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
  height: 0px;
  width: 0px;
}
.radio-button > input[type="radio"]:active,
.radio-button > input[type="radio"]:focus {
  outline: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.radio-button > input[type="radio"]:checked + .radio-button__checkmark:after {
  opacity: 1;
}
.radio-button > input[type="radio"]:checked + .radio-button__checkmark:before {
  background: transparent;
  border: 1px solid #d1d5d8;
}

.radio-button__checkmark:before {
  content: '';
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid #d1d5d8;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  -webkit-box-shadow: none;
  box-shadow: none;
  left: 0;
}

input[type="radio"]:focus + .radio-button__checkmark {
  border: 1px solid black;
  border-radius: 16px;
}

.radio-button > input[type="radio"]:checked + .radio-button__checkmark {
  background: rgba(0,0,0,0);
}

.radio-button__checkmark:after {
  content: '';
  position: absolute;
  top: 9px;
  left: 6px;
  width: 20px;
  height: 10px;
  background: transparent;
  border: 3.5px solid #697F94;
  border-top: none;
  border-right: none;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  opacity: 0;
}
.radio-button > input[type="radio"]:disabled + .radio-button__checkmark {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
