<div style="height: 305px" ng-controller="DashboardController">
  <div uib-carousel active="dashboard.carousselActive" interval="dashboard.carousselInterval"
       no-wrap="dashboard.noWrapSlides">
    <div uib-slide ng-repeat="slide in dashboard.carousselImages track by slide.id" index="slide.id">
      <img class="carousel-image-main" ng-src="{{slide.image}}" style="margin:auto;">
      <div class="carousel-caption">
        <h4>Slide {{slide.id}}</h4>
        <p>{{slide.text}}</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2">

    <div id="MainMenu">
      <div class="list-group panel navbar-sidebar-menu">
        <a href="#demo3" class="list-group-item list-group-item-success navbar-sidebar-menu" data-toggle="collapse"
           data-parent="#MainMenu">Item 3</a>
        <div class="collapse" id="demo3">
          <a href="#SubMenu1" class="list-group-item" data-toggle="collapse" data-parent="#SubMenu1">Subitem 1 <i
            class="fa fa-caret-down"></i></a>
          <div class="collapse list-group-submenu" id="SubMenu1">
            <a href="#" class="list-group-item" data-parent="#SubMenu1">Subitem 1 a</a>
            <a href="#" class="list-group-item" data-parent="#SubMenu1">Subitem 2 b</a>
            <a href="#SubSubMenu1" class="list-group-item" data-toggle="collapse" data-parent="#SubSubMenu1">Subitem 3 c
              <i class="fa fa-caret-down"></i></a>
            <div class="collapse list-group-submenu list-group-submenu-1" id="SubSubMenu1">
              <a href="#" class="list-group-item" data-parent="#SubSubMenu1">Sub sub item 1</a>
              <a href="#" class="list-group-item" data-parent="#SubSubMenu1">Sub sub item 2</a>
            </div>
            <a href="#" class="list-group-item" data-parent="#SubMenu1">Subitem 4 d</a>
          </div>
          <a href="javascript:;" class="list-group-item">Subitem 2</a>
          <a href="javascript:;" class="list-group-item">Subitem 3</a>
        </div>
        <a href="#demo4" class="list-group-item list-group-item" data-toggle="collapse" data-parent="#MainMenu">Item
          4</a>
        <div class="collapse" id="demo4">
          <a href="" class="list-group-item">Subitem 1</a>
          <a href="" class="list-group-item">Subitem 2</a>
          <a href="" class="list-group-item">Subitem 3</a>
        </div>
        <a href="#demo5" class="list-group-item list-group-item" data-toggle="collapse" data-parent="#MainMenu">Item
          5</a>
        <div class="collapse" id="demo5">
          <a href="#" class="list-group-item">Subitem 1</a>
          <a href="" class="list-group-item">Subitem 2</a>
          <a href="" class="list-group-item">Subitem 3</a>
        </div>

        <div ng-repeat="mainCategory in dashboard.mainCategories" class="navbar-sidebar-menu">
          <a href="{{'#mainCategoryName'+$index}}" class="list-group-item list-group-item navbar-sidebar-menu" data-toggle="collapse"
             data-parent="#MainMenu">{{mainCategory.name}}</a>
          <div class="collapse nnavbar-sidebar-menu" id="{{'mainCategoryName'+$index}}">
            <div class="navbar-sidebar-menu" ng-if="mainCategory.subCategories.length>0" ng-repeat="subCategory in mainCategory.subCategories">
              <a href="#" class="list-group-item navbar-sidebar-menu">{{subCategory.name}}</a>
              <div class="collapse list-group-submenu navbar-sidebar-menu" id="{{'subMenuItem'+$index}}">


              </div>

            </div>
            <a href="" class="list-group-item">Subitem 2</a>
            <a href="" class="list-group-item">Subitem 3</a>
          </div>
        </div>


      </div>
    </div>

  </div>
  <div class="col-md-10" style="background-color: white">Test</div>
</div>
