<div class="row" style="width:100%;height:80px;margin-bottom:15px">
  <div class="inline-block col-md-3 col-sm-3 col-xs-3"
       style="margin-left:3%;margin-top:11px;height:82%;vertical-align: middle;text-align: center;">
    <img src="https://www.jobs.bg/assets/logo/2013-11-06/b_11450615a86c7729dd5335916f2a0ca9.JPG"
         style="width:100%;max-height:100%">
  </div>

  <div class="inline-block col-md-8 col-sm-8 col-xs-8"
       style="margin-top:11px;height:82%;vertical-align: middle;text-align: center;padding:20px;">
    <ul class="list-inline helvetica-font">
      <li class="inline-block"><strong>Контакти</strong></li>
      <li class="inline-block"><strong>Общи условия</strong></li>
      <li class="inline-block"><strong>Профил</strong></li>
      <li class="inline-block">
        <div class="hidden-phone hidden-tablet">
          <div class="form-group inline-block">
            <input type="text" class="form-control" placeholder="Search">
          </div>

          <div class="form-group inline-block">
            <select class="form-control" ng-model="main.selectedBrand"
                    ng-options="brand for brand in main.allBrands"></select>
          </div>

          <div class="form-group inline-block">
            <select class="form-control" ng-model="main.selectedCategory">
              <option ng-class="{'ident-options':category.type!='sub'}" class="form-control"
                      ng-repeat="category in main.allCategories">{{category.name}}
              </option>
            </select>
          </div>


          <button type="submit" class="btn btn-default">Търси</button>
        </div>

      </li>
    </ul>
  </div>

</div>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#left-navigation-dropdown" aria-expanded="false">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">Спа Трейд ООД</div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right" id="left-navigation-dropdown">
      <ul class="nav navbar-nav">
        <li><a href="/dashboard">Начало</a></li>
        <li><a href="#">Промоции</a></li>
        <li><a href="#">За Козметици</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>


      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">{{userInfo.username}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/login">Логин</a></li>
            <li><a href="#">Моят профил</a></li>
            <li><a href="/register">Регистрация</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" ng-click="main.logout()">Логаут</a></li>
          </ul>
        </li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div ui-view></div>
<footer>Some Footer</footer>
