.header-wrapper{
    font-size:1.5em;
    padding:5px;
    background-color:#FBF5F4!important;
  
}
.icon{
    width:25px;
    height: 25px;
}
.cart-wrapper{
    margin-right:15px;
      color:#313131!important;
}
.wrap-right{
    text-align:right;
    margin-right:20px;
}

.logo-container{
    font-size:24px;
    padding:20px 30px 20px 30px;
    margin-top:30px;
}
.logo{
    height:40px;
    width:200px;
    margin-right:40px;
}
@media(max-width: 460px){
  .logo{
   display:none;
}  
}
.header-color{
      color:#313131!important;
}
.ng2-dropdown-button{
   
}
