<div class="header-wrapper row">
  <div class="col-xs-6">
    <app-main-navigation></app-main-navigation>
    <button md-button class="header-color" [routerLink]="['/login']" *ngIf="!loggedUser">Логин</button>

    <ng2-dropdown *ngIf="loggedUser" class="inline-block dropdown-background-color">
      <ng2-dropdown-button>
        {{loggedUser.username}}
      </ng2-dropdown-button>
      <ng2-dropdown-menu>
        <ng2-menu-item>
          Начало
        </ng2-menu-item>

        <ng2-menu-item>
          Виж профил
        </ng2-menu-item>

        <ng2-menu-item (click)="logout()">
          Logout
        </ng2-menu-item>
        <div class='ng2-menu-divider'></div>
      </ng2-dropdown-menu>
    </ng2-dropdown>









    <button md-button class="header-color" [routerLink]="['/register']">Регистрация</button>
  </div>

  <div class="col-xs-5 col-md-4 pull-right wrap-right">
    <div class="pull-right cart-wrapper" class="header-color">
      <button md-button>Количка</button>
      <img class="icon" src="assets/icons/cart.png">
    </div>
  </div>
</div>

<div class="logo-container rowv">
  Спа Трейд ООД
  <div class="pull-right">
    <img class="logo" src="assets/logos/anesi.jpg">
  </div>
</div>